@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    background: hsl(240, 78%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bg-top{
    position: absolute;
    top: 0;
    right: -15%;
    width: 40%;
}

.bg-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 25%;
}

.content-pricing{
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 4rem;
    color: hsl(232, 13%, 33%);
}

.content-pricing > h1{
    font-size: 1.8rem;
}
.plan-date{
    display: flex;
    width: 14rem;
    align-items: center;
    justify-content: space-between;
}



.plan-date > input{
    width: 3rem;
}
.content-plan{

    z-index: 10;
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    color: hsl(232, 13%, 33%);
    
}

.plan{
    
    background: #fff;
    height: 28rem;
    width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: .6rem;
}

.plan .title{
    font-size: 1.4rem;
}
.content-plan__professional{
    
    background: rgb(105,111,221);
    color: #fff;
}

.content-plan__professional > .button{
    color: rgb(105,111,221);
    background: #fff;
}
.description{
    width: 80%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid hsl(234, 14%, 74%);

}

.description > p{
    border-top: 1px solid hsl(234, 14%, 74%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.button{
    background: rgb(163,168,240);
    background: linear-gradient(90deg, rgba(163,168,240,1) 0%, rgba(105,111,221,1) 35%);
    height: 3rem;
    color: #fff;
    width: 80%;
    border-radius: .5rem;
}

.price{
    display: flex;
    align-items: center;
}
.price > p:nth-child(1){
    font-size: 2.5rem;
}
.price > p:nth-child(2){
    font-size: 4rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(237, 63%, 64%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(237, 63%, 64%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
@media screen and (min-width: 1444px) {
    
    .content-plan{
        height: max-content;
        width: max-content;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        align-items: center;
    }

    .plan{
        height: 36rem;
        width: 28rem;
    }
    .content-plan__professional{

        height: 38rem;
    }
    .bg-top{
        
        right: 0;
        width: 35%;
        height: 78%;
    }
    .bg-bottom{
        display: block;
    }
}